av==18.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
ctranslate2==4.7.2
diskcache==5.6.3
faster-whisper==1.2.1
filelock==3.32.4
flatbuffers==25.12.19
fsspec==2026.7.0
huggingface_hub==0.36.2
idna==3.19
Jinja2==3.1.6
llama-cpp-python==0.3.35
MarkupSafe==3.0.3
numpy==2.5.2
onnxruntime==1.29.0
packaging==26.3
protobuf==4.25.9
PyAudioWPatch==0.2.12.8
PySide6==6.11.2
PySide6_Addons==6.11.2
PySide6_Essentials==6.11.2
python-ulid==3.1.0
PyYAML==6.0.3
requests==2.34.2
setuptools==81.0.0
shiboken6==6.11.2
soxr==1.1.0
tokenizers==0.22.2
tqdm==4.70.0
typing_extensions==4.16.0
urllib3==2.7.0
webrtcvad-wheels==2.0.14
